<div class="container flex flex-col space-y-24 mx-auto h-screen w-full p-8 bg-light dark:bg-dark">
    <!-- TOP BAR -->
    <div class="flex flex-row h-16 w-full bg-red-200- items-center justify-between sticky top-3 backdrop-blur-xl">
        <!-- HEADING -->
        <app-nav-indicator
            [title]="'TABLEAU DE BORD'"
            [path]="'Tableau de Bord | Accueil'">
        </app-nav-indicator>

        <!-- RIGHT ITEMS -->
        <div class="flex flex-row h-12 space-x-4 items-center">
            <!-- ADD BUTTON -->
            <a class="
                hidden flex-row h-10
                items-center p-2
                justify-center
                cursor-pointer
                rounded-xl space-x-2
                hover:opacity-80
                text-light dark:text-dark
                bg-primary_light
                dark:bg-primary_dark
                "
                routerLink="/billings/add">
                <!-- <app-icon [icon]="'add-circle'" [size]="'h-8 w-8'"></app-icon> -->
                <i data-duoicon="add-circle" class="h-8 w-8"></i>
                <p class="text">nouveau</p>
            </a>

            <!-- NOTIFICATIONS -->
            <div class="
                flex h-10 w-10 rounded-xl
                bg-light_canvas p-2
                dark:bg-dark_canvas
                items-center justify-center">
                <app-icon [icon]="'bell-badge'" [size]="'h-8 w-8'"></app-icon>
                <!-- <i data-duoicon="bell-badge" class="h-8 w-8"></i> -->
            </div>

            <!-- PROFILE -->
            <div class="
                flex h-10 w-10 rounded-xl
                bg-light_canvas p-2
                dark:bg-dark_canvas
                items-center justify-center">
                <!-- <i data-duoicon="user" class="h-8 w-8"></i> -->
                <app-icon [icon]="'user'" [size]="'h-8 w-8'"></app-icon>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="flex flex-row w-full space-x-8 rounded-xl bg-light_canvas dark:bg-dark_canvas">

    </div>
</div>
