<div class="flex flex-col h-full space-y-14 w-full items-center justify-center">
    <!-- MESSAGE -->
    <p class="text-6xl text-center text-dark dark:text-light font-quicksand animate-pulse">
        Cette Partie sera bientôt disponible.
    </p>

    <!-- EMPTY LIST ICON -->
    <img src="assets/images/others/soon.svg" class="h-[20rem] animate-pulse" alt="">

    <!-- MESSAGE -->
    <p class="text-xl text-center text-dark dark:text-light font-quicksand animate-pulse">
        Module en cours de dévéloppement.
    </p>
</div>
