<div class="container mx-auto flex flex-col min-h-screen bg-light dark:bg-dark p-0 space-y-16">
    <!-- TOP BAR -->
    <div class="flex flex-row h-16 w-full items-center justify-between backdrop-blur-xl sticky top-3">
        <!-- HEADING -->
        <app-nav-indicator
            [title]="'Clients'"
            [path]="'Tableau de Bord | Clients | Nouveau'">
        </app-nav-indicator>

        <!-- RIGHT ITEMS -->
        <div class="flex flex-row h-12 space-x-4 items-center">
            <!-- ADD BUTTON -->
            <a class="
                flex flex-row h-10
                items-center p-2
                justify-center
                cursor-pointer
                rounded-xl
                hover:opacity-80
                text-light dark:text-dark
                bg-primary_light
                dark:bg-primary_dark"
                routerLink = "/clients"
                >

                <!-- <app-icon [icon]="'add-circle'" [size]="'h-8 w-8'"></app-icon> -->
                <i data-duoicon="app" class="h-8 w-8"></i>
                <p class="text">voir la liste</p>
            </a>

            <!-- NOTIFICATIONS -->
            <div class="
                flex h-10 w-10 rounded-xl
                bg-light_canvas p-2
                dark:bg-dark_canvas
                items-center justify-center">
                <app-icon [icon]="'bell-badge'" [size]="'h-8 w-8'"></app-icon>
                <!-- <i data-duoicon="bell-badge" class="h-8 w-8"></i> -->
            </div>

            <!-- PROFILE -->
            <div class="
                flex h-10 w-10 rounded-xl
                bg-light_canvas p-2
                dark:bg-dark_canvas
                items-center justify-center">
                <!-- <i data-duoicon="user" class="h-8 w-8"></i> -->
                <app-icon [icon]="'user'" [size]="'h-8 w-8'"></app-icon>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="flex-row w-full items-center justify-center space-x-24">

        <!-- FORM CONTAINER -->
        <div class="
            flex flex-col w-1/2 p-10
            rounded-lg
            bg-light_canvas
            dark:bg-dark_canvas">

            <form class="flex flex-col space-y-5 p-2" [formGroup]="form">
                <!-- FIRST AND LAST NAMES FIELDS -->
                <div class="flex flex-row space-x-6">
                    <!-- FIRST NAME FIELD -->
                    <div class="flex flex-col w-[50%] space-y-4">
                        <div class="flex flex-col w-full space-y-.5">
                            <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                                Prénom(s)
                            </label>
                            <input
                                type="text"
                                name="first_name"
                                id="first_name"
                                formControlName="first_name"
                                placeholder="John"
                                class="
                                    w-full h-12 pl-4 border-none
                                    rounded-md bg-light
                                    dark:bg-dark
                                    focus:outline-none
                            ">
                        </div>
                    </div>

                    <!-- LAST NAME FIELD -->
                    <div class="flex flex-col w-[50%] space-y-4">
                        <div class="flex flex-col w-full space-y-.5">
                            <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                                Nom
                            </label>
                            <input
                                type="text"
                                name="last_name"
                                id="last_name"
                                formControlName="last_name"
                                placeholder="John"
                                class="
                                    w-full h-12 pl-4 border-none
                                    rounded-md bg-light
                                    dark:bg-dark
                                    focus:outline-none
                            ">
                        </div>
                    </div>
                </div>

                <!-- EMAIL AND PHONE NUMBER FIELDS -->
                <div class="flex flex-row space-x-6">
                    <!-- EMAIL FIELD -->
                    <div class="flex flex-col w-[50%] space-y-4">
                        <div class="flex flex-col w-full space-y-.5">
                            <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                                E-mail
                            </label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                formControlName="email"
                                placeholder="JohnDoe@example.com"
                                class="
                                    w-full h-12 pl-4 border-none
                                    rounded-md bg-light
                                    dark:bg-dark
                                    focus:outline-none
                            ">
                        </div>
                    </div>

                    <!-- PHONE NUMBER FIELD -->
                    <div class="flex flex-col w-[50%] space-y-4">
                        <div class="flex flex-col w-full space-y-.5">
                            <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                                Numéro de Téléphone
                            </label>
                            <input
                                type="phone"
                                name="phone"
                                id="phone"
                                formControlName="phone"
                                placeholder="+228 90000000"
                                class="
                                    w-full h-12 pl-4 border-none
                                    rounded-md bg-light
                                    dark:bg-dark
                                    focus:outline-none
                            ">
                        </div>
                    </div>
                </div>

                <!-- ADDRESS FIELD -->
                <div class="flex flex-col w-full space-y-4">
                    <div class="flex flex-col w-full space-y-.5">
                        <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                            Adresse
                        </label>
                        <input
                            type="text"
                            name="address"
                            id="address"
                            formControlName="address"
                            placeholder="John"
                            class="
                                w-full h-12 pl-4 border-none
                                rounded-md bg-light
                                dark:bg-dark
                                focus:outline-none
                        ">
                    </div>
                </div>

                <!-- CITY AND POSTAL CODE FIELDS -->
                <div class="flex flex-row space-x-6">
                    <!-- CITY FIELD -->
                    <div class="flex flex-col w-[50%] space-y-4">
                        <div class="flex flex-col w-full space-y-.5">
                            <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                                Ville
                            </label>
                            <input
                                type="text"
                                name="city"
                                id="city"
                                formControlName="city"
                                placeholder="Lomé"
                                class="
                                    w-full h-12 pl-4 border-none
                                    rounded-md bg-light
                                    dark:bg-dark
                                    focus:outline-none
                            ">
                        </div>
                    </div>

                    <!-- POSTAL CODE FIELD -->
                    <div class="flex flex-col w-[50%] space-y-4">
                        <div class="flex flex-col w-full space-y-.5">
                            <label for="reference" class="text-left text-xs text-md p-1 justify-center rounded-md">
                                Code Postal
                            </label>
                            <input
                                type="text"
                                name="postal_code"
                                id="postal_code"
                                formControlName="postal_code"
                                placeholder="B99275"
                                class="
                                    w-full h-12 pl-4 border-none
                                    rounded-md bg-light
                                    dark:bg-dark
                                    focus:outline-none
                            ">
                        </div>
                    </div>
                </div>

                <!-- NEXT BUTTON -->
                <button type="button" (click)="save()" class="w-[100%] bg-primary_light dark:bg-primary_dark h-10 rounded-md mt-8">
                    <span class="text-light dark:text-dark text-md font-bold-">Enregistrer</span>
                </button>
            </form>
        </div>

        <!-- IMAGE CONTAINER -->
        <div class="flex flex-col w-1/2 p-12 space-y-12">
            <!-- HEADING TEXT -->
            <h2 class="text-2xl text-center text-dark dark:text-light font-quicksand font-bold">
                Ajoutez de nouveaux clients via ce formulaire.
            </h2>

            <!-- IMAGE -->
            <img src="assets/images/clients/pana.svg" alt="image" class="max-h-[20rem] w-auto">
        </div>
    </div>
</div>
